<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Demo</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
</head>
<body>
<h1>Better Reads</h1>

<h1>My Books</h1>

<div th:each="book: ${books}">
    <div class="card">
        <img th:src="${book.coverUrl}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" th:text="${book.bookName}">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
</body>
</html>